
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <!-- /block -->
    </div>
    <div class="row-fluid">
        <div class="span6">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left"><a asp-action="Table" asp-controller="Home" asp-route-id="user">User</a></div>
                    <div class="pull-right">
                        <span class="badge badge-info">@ViewBag.TotalU</span>
                    </div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (User user in ViewBag.Users)
                            {
                                <tr>
                                    <td>@{i++;}@i</td>
                                    <td>@user.Username</td>
                                    <td>@user.Name</td>
                                    <td>@user.DOC</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
        <div class="span6">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left"><a asp-action="Table" asp-controller="Home" asp-route-id="product">Products</a></div>
                    <div class="pull-right">
                        <span class="badge badge-info">@ViewBag.TotalP</span>

                    </div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i2 = 0;}
                            @foreach (Product product in ViewBag.Products)
                            {
                                <tr>
                                    <td>@{i2++;}@i2</td>
                                    <td>@product.Name</td>
                                    <td>@product.Price</td>
                                    <td>@product.Created</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left"><a asp-action="Table" asp-controller="Home" asp-route-id="order">Order</a></div>
                    <div class="pull-right">
                        <span class="badge badge-info">@ViewBag.TotalO</span>

                    </div>
                </div>
                <div class="block-content collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>User</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i3 = 0;}
                            @foreach (Order order in ViewBag.Orders)
                            {
                            <tr>
                                <td>@{i3++;}@i3</td>
                                <td>@order.ID</td>
                                <td>@order.Username</td>
                                <td>@order.DOC</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>
</div>