
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model User
<div class="span9" id="content">
    @{
        if (TempData["UpdateS"] != null)
        {
            <div class="row-fluid">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Success</h4>
                    <br />
                    <h4>@TempData["UpdateS"]</h4>
                </div>
            </div>
        }
    }
    @{
        if (TempData["UpdateF"] != null)
        {
            <div class="row-fluid">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Fail</h4>
                    <br />
                    <h4>@TempData["UpdateF"]</h4>
                </div>
            </div>
        }
    }
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Profile</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <form class="form-horizontal" asp-action="UpdateProfile">
                        <fieldset>
                            <legend>Profile</legend>
                            <div class="control-group">
                                <label class="control-label">Username</label>
                                <div class="controls">
                                    <input class="input-xlarge uneditable-input" type="text" asp-for="Username" value="@Html.Raw(Model.Username)" readonly />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">Name</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" id="focusedInput" type="text" value="@Html.Raw(Model.Name)" asp-for="Name" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">Email</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" id="focusedInput" type="text" value="@Html.Raw(Model.Email)" asp-for="Email" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Created Date</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge uneditable-input" asp-for="DOC" value="@Html.Raw(Model.DOC)" readonly />
                                    <td><font color="red"><span asp-validation-for="Email" class="text-danger"></span></font></td>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">Gender</label>
                                <div class="controls">
                                    Male    <input class="input-xlarge focused" id="focusedInput" type="checkbox" value="@Html.Raw(Model.Gender)" asp-for="Gender">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="reset" class="btn" asp-action="Index" asp-area="Admin" asp-controller="Home">Cancel</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>

