
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model UserIndexPage


<section class="product-section spad">
    <div class="container">
        <ul class="product-filter controls">
            <li class="control" data-filter=".new"><a asp-action="Index" asp-controller="Users">New arrivals</a></li>
            <li class="control" data-filter=".best"><a asp-action="BestSeller" asp-controller="Users">Best sellers</a></li>
        </ul>

        <div class="row" id="product-filter">
            @{
                foreach (UserIndexPage item in ViewBag.PList)
                {
                    <div class="mix col-lg-3 col-md-6 new">
                        <div class="product-item">
                            <figure>
                                <img src="@Url.Content(item.Img)" width="262" height="363" alt="">
                                <div class="pi-meta">
                                    <div class="pi-m-left">
                                        <img src="~/user/img/icons/eye.png" alt="">
                                        <p><a asp-action="ViewDetails" asp-controller="Users" asp-route-id="@item.ID">Details</a></p>
                                    </div>
                                </div>
                            </figure>
                            <div class="product-info">
                                <h6>@item.Name (@item.Scale)</h6>
                                <p>@item.Price$</p>
                                <a href="#" class="site-btn btn-line">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Product section end -->
<!-- Blog section -->
<!-- Blog section end -->