
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
@model Product

<div class="page-area product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <figure>
                    <img class="product-big-img" src="@Url.Content(Html.Raw(Model.Img).ToString())" alt="">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>@Html.Raw(Model.Name)</h2>
                    <div class="pc-meta">
                        <h4 class="price">@Html.Raw(Model.Price)$</h4>
                    </div>
                    <p>@Html.Raw(Model.Description)</p>
                    <div class="size-choose">
                        <span>Scale:</span>
                        <div class="sc-item">
                            <input type="radio" name="sc" id="l-size" checked>
                            <label for="l-size">@Html.Raw(Model.Scale)</label>
                        </div>
                    </div>
                    <p>Release : @Html.DisplayFor(date => date.Release)</p>
                    <p>Remain : @Html.Raw(Model.Quantity)</p>
                    <a href="#" class="site-btn btn-line">ADD TO CART</a>
                </div>
            </div>
        </div>
    </div>
</div>

